######################### START ##############################
##Loteria (Ganhamos galera) => 215152121212221@g.us   ########
GRUPO_ALVO=215152121212221@g.us                       ########
######################### END ################################

URL="dsdasdsadsa"
